<tr>
  <td><%= "<a href='/sources/#{@user.identifier}/events/#{event_stats_with_link[:description]}'>#{event_stats_with_link[:description]}</a>" %></td>
  <td><%= event_stats_with_link[:count] %></td>
  <td><%= event_stats_with_link[:percent] %>%</td>
</tr>
