<li><%= "<a href='/sources/#{@user.identifier}/urls#{URI(user_info_with_link[:description]).path}'>#{user_info_with_link[:description]}</a>... #{user_info_with_link[:count]} requests... #{user_info_with_link[:percent]}%" %></li>
