.form-inline{
  display: inline;
}

body {
  background-image: url("/images/background_spy_vs_spy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
    text-shadow: 2px 2px #ffffff;
}

select {
  font-size: 25;
}

input[type="text"] {
  width: 100%;
}

.headshot img{
  background-color: white;
}

.img-small img{
  border-radius: 50%;
  height: 100px;
  background-color: white;
}

/*
===----------===----------===----------===----------===----------===
  Bootstrap
===----------===----------===----------===----------===----------===
*/

.well {
  background-color: rgba(244, 244, 244, .9);
  border-radius: 10px;
  border: 3px solid #b3b3b3;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);*/
}

.table-bordered {
  border: 2px solid #b3b3b3;
}

tr:hover td {
  background-color: #cccccc;
}

/*
===----------===----------===----------===----------===----------===
  Navigation
===----------===----------===----------===----------===----------===
*/

.nav-buttons ul {
  font: bold 15px "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 20px;
  padding: 0px;
  text-transform: uppercase;
  text-align: right;
}
.nav-buttons li {
  display: inline-block;
}
.nav-buttons a {
  background: #395870;
  background: linear-gradient(#6990Bf, #495F80);
  border-right: 1px solid rgba(0, 0, 0, .3);
  color: #fff;
  padding: 12px 20px;
  text-decoration: none;
}
.nav-buttons a:hover {
  background: #516B90;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}
.nav-buttons li:first-child a {
  border-radius: 4px 0 0 4px;
}
.nav-buttons li:last-child a {
  border-right: 0;
  border-radius: 0 4px 4px 0;
}
