<ol>
  <% @urls.each do |url| %>
    <li><%= url[1].first + " - " + url[0].to_s %></a></li>
  <%end%>
</ol>
<br>
<br>
<br>
<br>
<ol>
  <% @browsers.each do |browser| %>
    <li> <%= browser %> </li>
    <%end%>
</ol>

<!-- create a sorted url array, and it knows its path -->