<h1 class='text-center'>=== Hourly Breakdown for '<%= @event_name %>' Event === </h1>
<hr>

<section class='container col-md-6'>
  <table class='table table-responsive table-striped table-bordered'>
    <thead>
      <tr>
        <th>Start of Hour</th>
        <th>Requests</th>
      </tr>
    </thead>
    <tbody>
      <% (0..23).each do |hour| %>
      <tr>
        <td><%= hour_start(hour) %></td>
        <td><%= @event[hour.to_f] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
