<section class = "col-md-6">
  <h1>Welcome to Traffic Spy!</h1>
  We sincerely hope you enjoy your time here... Why not take a moment to relax before diving in?
  <br><br>
  <iframe width="426" height="240" src="https://www.youtube.com/embed/hz5lixjNYXM" frameborder="0" allowfullscreen></iframe>
</section>
<section class = "col-md-6">
  <h1>Check Out Other Users' Stats!</h1>
  <table class='table table-responsive table-striped table-bordered'>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= "<a href='/sources/#{user.identifier}'>#{user.identifier.capitalize}</a>" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
