<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/custom.css">


<body>


<div class='col-md-12 navbar navbar-default navbar-static-top' id='heading'>
  <a href='/' class='navbar-brand'>Traffic Spy</a>
  <!-- <ul class='navbar-nav navbar-right'>
    <div class='nav-buttons'>
      <li><a href="/">Home</a></li>
      <li><a href="/sources">Register</a></li>
      <li><a href="/user_list">Existing Users</a></li>
    </div>
  </ul> -->
</div>

<div class='container well'>
  <%=yield%>
</div>

<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

</body>
