<h1>Register</h1>
<form action="/" method="post"> # Go to THANK YOU page eventually
  Username: <input type='text' name='identifier'><br>
  Your homepage: <input type='text' name='root_url'><br>
  <input type='submit' class='btn btn-primary' id='sources_submit'/>
</form>
